@import './message.css';
@import './date.css';

.messages-list{
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
    padding: 1.5rem;
    background-image: url('../images/bg.jpg');
}